#pageTitle {
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
}

#refPara {
	font-style: italic;
	font-size: .95em;
}

p {
	margin-left: 1em;
	margin-right: 1em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #F0EAD6;
}